<h3 class='notice'><%= flash[:notice]  %><h3>

<% if admin? %>
<h1>Friends of Ken</h1>

<h3>Select a friend to view their profile</h3>

<ul>
<% @users.each do |user| %>
  <li><%= link_to "#{user.name}", profile_path(user) %></li>
<% end %>
</ul>
<% else %>
  <h3 class='notice'><%= flash[:not_admin]  %><h3>
<% end%>
