<h3 class='notice'><%= flash[:notice]  %><h3>

<h1>Welcome, <%= @user.name %>!</h1>

<h3>Recipes You've Posted:</h3>

<ul>
  <% @user.recipes.each do |recipe| %>
  <li><%= link_to "#{recipe.title}", recipe %></li>
  <% end %>
</ul>


