.container {
  margin: 0%, auto;
  font-family: 'Bree Serif', serif;
}

#nav-bar{
  background-color: #A2D5F2;
  border-bottom-radius: 10px;
}
.nav-link{
  margin-left: 5em;
}
.nav-link:hover{
  font-size: larger;
  background-color: white;
}

.recipe-table {
  width: 40%;
}

.alert {
  color: red;
}

.row-header {
  width: 30px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.violation {
  font: small caps, normal, 20px ;
}
.title{
  font-family: 'Lobster', cursive;
  font-size: 5em;
  margin: 0 auto;
  width: 60%;
}

.wd-17-m{
  width: 17em;
}

.mg-0{
  display: inline-table;
  margin-left: 1em;
  margin-right: 1em;
}

div.thumbnail {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 4em;
  margin-bottom: 0;
  height: 4em;
  width: 4em;
}

div.fav-star{
  display: inline;
  background-repeat: no-repeat;
  background-image: url("/assets/fav_star.png");
  background-size: 2em;
  opacity: 80%;
  height: 4em;
  width: 4em;
}
