<div class='container'>
<h1>Individual Category</h1>
<%= flash.notice %>

<ul>
<% get_category_by_name.recipes.each do |recipe| %>
  <li class='recipe-link'><%= link_to "#{recipe.title}", recipe_path(recipe) %> </li>
<% end %>
</ul><br>


<span id='add-recipe'><%= link_to "Add a Recipe!", new_category_recipe_path(@category) %></span>
</div>
